# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency managers
.pnpm/
package-lock.json
yarn.lock

# Build output
dist/
build/

# Vite cache
.vite/

# Environment variables
.env
.env.*

# Mac system files
.DS_Store

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
*.tgz

# Firebase and sensitive config (you can still deploy without exposing this)
src/firebase.js

# Example: if this is product dummy data and not needed in deployment
src/componants/products.js
